.card-servicios{
    height: 100%;
    width: 100%;
    padding: 20px;
    

    .card-ubica{
        display: flex;
        flex-wrap: wrap;
        .carta{
            background-color: rgba(245, 189, 106, 0.274);
            margin: 20px;
            .war{
                margin: 5px;
            }

            .moment{
                background-color: rgb(247, 181, 144);
            }

            a{
                text-decoration: none;
            }
        }

        
    }
    .buscador{
        .search{
            margin-left: 8px;
                height: 40px ;
                width: 250px;
                border-radius: 8px;
                border: solid 1px gray;
                padding: 5px;
        }

        label{
            font-size: 1.3rem;
        }
    }
    
    
    
}
