.content-tabla{
    height: 100vh;
    width: 100%;
    margin: 0 3%;
    .table{
        margin-top: 10px;
        width: 100%;
        .btn-editar{
            text-decoration: none;
        }
    }

    .buscador{
        margin: 20px 0;

        .search{
            margin-left: 8px;
            height: 40px ;
            width: 250px;
            border-radius: 8px;
            border: solid 1px gray;
            padding: 5px;
        }
    }
}
