* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$gris: #b3b3b3;
$black: #111111;
$white: #ffffff;
$principal: #ffdc73;
$footer: #222222;
$blanco-opaco: rgba(255, 255, 255, 0.747);

.coment {
  margin-bottom: 10px;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  border: solid 1px gray;
  padding: 5px;
}


@import 'signIn';
@import 'navbar';
@import 'citas';
@import 'mapView';
@import 'admin';
@import 'table';
@import 'cardServicio';
@import 'contenidoModal';
@import 'content-modal-citas';
@import 'content-sidebarUser';
@import 'footer';
@import 'home';
@import 'servicios';