* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondo {
  height: 400px;
  width: 800px;
  margin: auto;
}
.fondo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.coment {
  margin-bottom: 10px;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  border: solid 1px gray;
  padding: 5px;
}

.content_login {
  width: 35%;
  height: 500px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(247, 206, 84, 0.1843137255);
}
.content_login .title {
  margin-top: 15px;
}
.content_login form {
  margin-top: 5px;
  width: 80%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.content_login form .org {
  display: flex;
  flex-direction: column;
}
.content_login form .org input {
  height: 35px;
  border: solid 1px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
.content_login form .passw {
  margin: 20px 0;
}
.content_login form .name {
  margin-bottom: 20px;
}
.content_login form .ingresar {
  margin-top: 25px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: #ffdc73;
  cursor: pointer;
  margin-bottom: 4px;
}
.content_login form .regis {
  text-align: center;
}
.content_login form .regis a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #111111;
  padding: 15px;
}
.navbar a {
  text-decoration: none;
  color: #ffffff;
}
.navbar .logo {
  margin-right: 50px;
  margin-left: 5%;
  color: #ffffff;
}
.navbar .menu {
  margin-right: 5%;
}
.navbar .menu .list {
  list-style: none;
  display: flex;
  gap: 25px;
}
.navbar .menu .list .user {
  font-size: 2rem;
}
.navbar #toggler, .navbar label {
  display: none;
  color: #ffffff;
  font-size: 1.2rem;
}

@media (max-width: 655px) {
  .navbar .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .navbar .menu .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  .navbar #toggler:checked ~ .menu {
    max-height: 100%;
  }
}
.content_citas {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content_citas .reservas {
  padding: 10px;
}
.content_citas .reservas .title {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content_citas .reservas .orga {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.content_citas .reservas select {
  height: 40px;
  font-size: 1rem;
  border-radius: 8px;
  border-color: #b3b3b3;
}
.content_citas .reservas input {
  height: 40px;
  font-size: 1rem;
  border-radius: 8px;
  border: solid 1px #b3b3b3;
}
.content_citas .reservas .envi {
  width: 90px;
  border: none;
  background-color: #111111;
  color: #ffffff;
}
.content_citas .mapa .ubica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.leaflet-container {
  width: 400px;
  height: 350px;
}

.content-adm {
  display: flex;
  height: 100%;
}
.content-adm .sidebar {
  width: 14rem;
  height: 100%;
  border-right: 1px solid gray;
  background-color: #ffdc73;
}
.content-adm ul {
  list-style: none;
  padding: 1rem 2rem;
}
.content-adm ul li {
  margin-bottom: 1rem;
}
.content-adm ul li .foto {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.content-adm ul li .foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.content-adm ul li p {
  font-size: 1.2rem;
}
.content-adm ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}
.content-adm ul li a:hover {
  background-color: aliceblue;
  border-radius: 10px;
}
.content-adm .calendario {
  margin: auto;
  height: 100%;
  width: 100%;
}
.content-adm .calendario .title {
  font-size: 2.8rem;
  color: #c59506;
}

.content-tabla {
  height: 100vh;
  width: 100%;
  margin: 0 3%;
}
.content-tabla .table {
  margin-top: 10px;
  width: 100%;
}
.content-tabla .table .btn-editar {
  text-decoration: none;
}
.content-tabla .buscador {
  margin: 20px 0;
}
.content-tabla .buscador .search {
  margin-left: 8px;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  border: solid 1px gray;
  padding: 5px;
}

.card-servicios {
  height: 100vh;
  width: 100%;
  padding: 20px;
}
.card-servicios .card-ubica {
  display: flex;
  flex-wrap: wrap;
}
.card-servicios .card-ubica .carta {
  background-color: rgba(245, 189, 106, 0.274);
  margin: 20px;
}
.card-servicios .card-ubica .carta .war {
  margin: 5px;
}
.card-servicios .card-ubica .carta .moment {
  background-color: rgb(247, 181, 144);
}
.card-servicios .card-ubica .carta a {
  text-decoration: none;
}
.card-servicios .buscador .search {
  margin-left: 8px;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  border: solid 1px gray;
  padding: 5px;
}
.card-servicios .buscador label {
  font-size: 1.3rem;
}

.content-modal {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-modal p {
  font-size: 1.5rem;
}
.content-modal .inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content-modal .inputs input {
  margin: 15px 0;
  margin-left: 8px;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  border: solid 1px gray;
  padding: 5px;
}
.content-modal .ingresar {
  border: none;
  width: 120px;
  height: 35px;
  background-color: #ffdc73;
  border-radius: 8px;
  color: #111111;
  font-size: 1.2rem;
  font-weight: 500;
}

.content-modal-citas {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-modal-citas .ubica {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content-modal-citas .inputs {
  margin: 15px 0;
  margin-left: 8px;
  height: 40px;
  width: 250px;
  border-radius: 8px;
  border: solid 1px gray;
  padding: 5px;
}
.content-modal-citas .ingresar {
  border: none;
  width: 120px;
  height: 35px;
  background-color: #ffdc73;
  border-radius: 8px;
  color: #111111;
  font-size: 1.2rem;
  font-weight: 500;
}

.content-sidebarUser .sidebar {
  height: 100%;
}/*# sourceMappingURL=main.css.map */